# Learning model data(TJM)

* Experience
* Region
* Category
* SuperMalter
* price

# Final cleanup of the csv file for our LM

In [10]:
import pandas as pd
import ast


# import the data
df_cities = pd.read_csv('../scrapping/datasets/cities_list.csv')
df_malt = pd.read_csv('../scrapping/datasets/malt_sample_data.csv')

# Convert the string 'location' column to a dictionary and extract the city
def extract_city(location_str):
    try:
        location_dict = ast.literal_eval(location_str)
        city_country = location_dict.get('Localisation', '')
        city = city_country.split(',')[0].strip()
        return city
    except:
        return None

df_malt['Ville'] = df_malt['location'].apply(extract_city)

# Exact match to find the area
def find_region_name(city):
    for index, row in df_cities.iterrows():
        if city.lower() == row['label'].lower():
            return row['region_name']
    return None

df_malt['Region_Name'] = df_malt['Ville'].apply(find_region_name)

# Remove lines where 'Region_Name' is missing
df_malt.dropna(subset=['Region_Name'], inplace=True)


# Removing unnecessary columns
columns_to_drop = ['name', 'location', 'presentation', 'recommendations', 
                   'teletravail_preference',  'Ville', 'competences', 'response_time',
                     'response_rate', 'headline', 'missions']
df_malt = df_malt.drop(columns=columns_to_drop)

# Cleaning up the 'price' column
df_malt['price'] = df_malt['price'].str.replace('€', '').str.replace('\u202f', '').str.replace(r'\D', '', regex=True).astype(int)

# Replace the values in the 'supermalter' column
df_malt['supermalter'] = df_malt['supermalter'].apply(lambda x: 1 if x == 'Supermalter' else 0)


df_malt.to_csv('../datasets/ml_sample_data.csv', index=False)

KeyboardInterrupt:

# Visualisation

In [9]:
import pandas as pd

df_cities = pd.read_csv('../scrapping/data/Clean.csv')
df_cities

,price,experience,missions,categories,supermalter,Region_Name
0,250,8-15 ans,1 158,"['Rédacteur web', 'Traducteur']",1,île-de-france
1,400,15 ans et +,351,"['Développeur CMS', 'Développeur Web Front-end...",1,île-de-france
2,260,8-15 ans,1 085,"['Concepteur Rédacteur', 'Pigiste', 'Rédacteur...",1,île-de-france
3,250,3-7 ans,265,"['Concepteur Rédacteur', 'Pigiste', 'Rédacteur...",1,île-de-france
4,260,3-7 ans,148,"['Monteur vidéo', 'Motion Designer']",0,île-de-france
...,...,...,...,...,...,...
184,450,15 ans et +,133,"['Directeur artistique', 'Graphiste', 'Illustr...",1,île-de-france
185,200,8-15 ans,139,['Voix off'],1,île-de-france
186,350,3-7 ans,11,"['Développeur CMS', 'Développeur Web Front-end...",0,île-de-france
187,400,8-15 ans,114,"['Monteur vidéo', 'Photographe', 'Réalisateur ...",1,île-de-france
188,550,8-15 ans,17,"['Motion Designer', 'Réalisateur vidéo', 'Voix...",1,île-de-france