# Learning model data(TJM)

* Experience
* Region
* Category
* SuperMalter
* price

# Final cleanup of the csv file for our LM

In [11]:
import pandas as pd
import ast


# import the data
df_cities = pd.read_csv('../../datasets/cities_list.csv')
df_malt = pd.read_csv('../../datasets/malt_sample_data.csv')

# Convert the string 'location' column to a dictionary and extract the city
def extract_city(location_str):
    try:
        location_dict = ast.literal_eval(location_str)
        city_country = location_dict.get('Localisation', '')
        city = city_country.split(',')[0].strip()
        return city
    except:
        return None

df_malt['Ville'] = df_malt['location'].apply(extract_city)

# Exact match to find the area
def find_region_name(city):
    if city is None:
        return None
    for index, row in df_cities.iterrows():
        if pd.isna(row['label']):
            continue
        if city.lower() == row['label'].lower():
            return row['region_name']
    return None


df_malt['Region_Name'] = df_malt['Ville'].apply(find_region_name)

# Remove lines where 'Region_Name' is missing
df_malt.dropna(subset=['Region_Name'], inplace=True)


# Removing unnecessary columns
columns_to_drop = ['name', 'location', 'presentation', 'recommendations', 
                   'teletravail_preference',  'Ville', 'competences', 'response_time',
                     'response_rate', 'headline', 'missions']
df_malt = df_malt.drop(columns=columns_to_drop)

# Cleaning up the 'price' column
df_malt['price'] = df_malt['price'].str.replace('€', '').str.replace('\u202f', '').str.replace(r'\D', '', regex=True).astype(int)

# Replace the values in the 'supermalter' column
df_malt['supermalter'] = df_malt['supermalter'].apply(lambda x: 1 if x == 'Supermalter' else 0)


df_malt.to_csv('../../datasets/ml_sample_data.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'lower'

# Visualisation

In [9]:
import pandas as pd

df_cities = pd.read_csv('../../datasets/ml_sample_data.csv')
df_cities

,price,experience,categories,supermalter,Region_Name
0,250,8-15 ans,"['Rédacteur web', 'Traducteur']",1,île-de-france
1,400,15 ans et +,"['Développeur CMS', 'Développeur Web Front-end...",1,île-de-france
2,260,8-15 ans,"['Concepteur Rédacteur', 'Pigiste', 'Rédacteur...",1,île-de-france
3,250,3-7 ans,"['Concepteur Rédacteur', 'Pigiste', 'Rédacteur...",1,île-de-france
4,260,3-7 ans,"['Monteur vidéo', 'Motion Designer']",0,île-de-france
...,...,...,...,...,...
184,450,15 ans et +,"['Directeur artistique', 'Graphiste', 'Illustr...",1,île-de-france
185,200,8-15 ans,['Voix off'],1,île-de-france
186,350,3-7 ans,"['Développeur CMS', 'Développeur Web Front-end...",0,île-de-france
187,400,8-15 ans,"['Monteur vidéo', 'Photographe', 'Réalisateur ...",1,île-de-france
188,550,8-15 ans,"['Motion Designer', 'Réalisateur vidéo', 'Voix...",1,île-de-france

In [7]:
import pandas as pd

view = pd.read_csv('../../datasets/scraped_data2.csv')

nr = view['name'].notna().sum()
nombre_total_lignes = len(view)

# pourcentage de lignes avec le 'name' rempli
pnr = (nr / nombre_total_lignes) * 100

print(f"Nombre de lignes avec le 'name' rempli : {nr}")
print(f"Pourcentage de lignes avec le 'name' rempli : {pnr:.2f}%")


view

Nombre de lignes avec le 'name' rempli : 7493
Pourcentage de lignes avec le 'name' rempli : 62.44%

,name,headline,price,response_rate,response_time,categories,competences,supermalter,location,presentation,recommendations,teletravail_preference,profil,link,creation_date
0,Brice Tillet,Composer / Sound Designer / Music Producer,300 €,100%,12h,['Sound Designer'],"['Art et artisanat', 'Culture', 'Film et audio...",NaN,"{'Localisation': 'Paris, France'}","Bonjour,je suis musicien, compositeur et sound...",6.0,NaN,bricetillet,https://www.malt.fr/profile/bricetillet,2014-01-08
1,Mickael M.,Graphiste,250 €,100%,Quelques jours,['Graphiste'],"['Wordpress', 'Design logo', 'Affiche', 'Carte...",NaN,"{'Localisation': '21000 Dijon, France'}","Passionné depuis mon enfance par le graphisme,...",NaN,NaN,mickaelmolina,https://www.malt.fr/profile/mickaelmolina,2013-08-02
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alexandrelabayle,https://www.malt.fr/profile/alexandrelabayle,2014-02-04
3,Nacera TIZI,Commerciale Freelance,40 €,NaN,1h,['Business developers'],['Tanger et tout le Maroc'],NaN,"{'Localisation': 'Tanger, Tanger-Tétouan, Maroc'}",Parce que La ville de Tanger tend à devenir l'...,NaN,NaN,naceratizi,https://www.malt.fr/profile/naceratizi,2014-02-22
4,Aurélien D.,"SysOps, DevOps et développeur web",550 €,100%,1h,"['Administrateur base de données', 'Administra...","['Linux', 'Ansible', 'PHP', 'Apache', 'Proxmox...",NaN,"{'Localisation': 'La Rochelle, France'}",SysOps (unix) depuis 5 ans et DevOps depuis 4 ...,1.0,NaN,aureliendazy,https://www.malt.fr/profile/aureliendazy,2013-06-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,Véronique Fournier,Écrivain Correctrice Relectrice,125 €,100%,1h,['Traducteur'],"['Correctrice', 'relectrice et écrivain profes...",NaN,"{'Localisation': '41400 Thenay, France'}",NaN,NaN,NaN,veroniquefournier,https://www.malt.fr/profile/veroniquefournier,2016-03-22
11996,Valdimir Tavares Evora,✔️ Développeur Web,NaN,100%,2h,"['Graphiste', 'Illustrateur']","['Symfony', 'Intégration web', 'React.js', 'HT...",NaN,"{'Localisation': 'Paris, France'}","Bonjour,Je me présente, Valdimir Tavares Evora...",NaN,NaN,tavaresevora,https://www.malt.fr/profile/tavaresevora,2016-03-09
11997,NaN,NaN,NaN,NaN,NaN,[],[],NaN,NaN,NaN,NaN,NaN,assiamouhout,https://www.malt.fr/profile/assiamouhout,2016-02-26
11998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lotfiberrad,https://www.malt.fr/profile/lotfiberrad,2016-03-26
11999,Julie Barthélemy,Conceptrice rédactrice & UX writer,NaN,100%,12h,['Concepteur Rédacteur'],"['Conception rédaction', 'Stratégie éditoriale...",NaN,"{'Localisation': 'Lille, France'}","Forcément, des contenus qui ont de la voix, ça...",2.0,NaN,juliebarthelemy,https://www.malt.fr/profile/juliebarthelemy,2016-03-31