# Données du modele d'apprentissage

* Missions
* Experience
* Tarifs
* Région
* Compétences
* SuperMalter

# Nettoyage final du fichier csv pour notre MA

In [37]:
import pandas as pd
import ast


df_malt = pd.read_csv('malt_data.csv')
df_cities = pd.read_csv('cities.csv')

# Convertir la colonne 'location' de chaîne en dictionnaire et extraire la ville
def extract_city(location_str):
    try:
        location_dict = ast.literal_eval(location_str)
        city_country = location_dict.get('Localisation', '')
        city = city_country.split(',')[0].strip()
        return city
    except:
        return None



df_malt['Ville'] = df_malt['location'].apply(extract_city)



# Correspondance partielle pour trouver la région
def find_region_name(city):
    for index, row in df_cities.iterrows():
        if city.lower() in row['label'].lower():
            return row['region_name']
    return None


df_malt['Region_Name'] = df_malt['Ville'].apply(find_region_name)

# Suppression des colonnes inutiles
df_malt = df_malt.drop(columns=['name'])
df_malt = df_malt.drop(columns=['location'])
df_malt = df_malt.drop(columns=['presentation'])
df_malt = df_malt.drop(columns=['recommendations'])
df_malt = df_malt.drop(columns=['teletravail_preference'])
df_malt = df_malt.drop(columns=['Ville'])
df_malt = df_malt.drop(columns=['categories'])
df_malt = df_malt.drop(columns=['response_time'])
df_malt = df_malt.drop(columns=['response_rate'])
df_malt = df_malt.drop(columns=['headline'])

# Nettoyage de la colonne 'price'
df_malt['price'] = df_malt['price'].str.replace('€', '').str.strip().astype(int)
# Remplacer les valeurs de la colonne 'supermalter'
df_malt['supermalter'] = df_malt['supermalter'].apply(lambda x: 1 if x == 'Supermalter' else 0)





df_malt

,price,experience,missions,competences,supermalter,Region_Name
0,350,3-7 ans,1 015,"['Flyer', 'Affiche', 'Graphisme', 'Design logo...",1,normandie